header {
  background: #7700fff2;
  padding: 1em;
}
.logo {
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7700ff05;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px;
  text-decoration: none;
}

li a:hover {
  background-color: #8E2BFF;
}

