<header>
  <div class="content">
    <a routerLink="/" class="logo">Westminster Library</a>
    <nav>
      <ul>
        <li><a routerLink="/add-item">Add item</a></li>
        <li><a routerLink="/add-reader">Add Reader</a></li>
        <li><a routerLink="/borrow-item">Borrow item</a></li>
        <li><a routerLink="/delete-item">Delete item</a></li>
        <li><a routerLink="/display-item">Display item</a></li>
        <li><a routerLink="/generate-report">Generate Report</a></li>
        <li><a routerLink="/return-item">Return item</a></li>
      </ul>
    </nav>
  </div>
</header>
